.action-container {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.action-link {
  display: block; 
  margin-bottom: 10px; 
  text-decoration: none;
  color: black;
}

.action-link:hover {
  color: blue; 
}
