.custom-dropdown-toggle.dropdown-toggle::after {
  display: none;
}
.cursor{
  cursor: pointer;
}

@media (max-width: 576px) { 
  .container {
    display: flex;
    flex-direction: column;
  }
  
}

