.content {
  margin-top: 20px;
  padding: 19px 34px 21px 34px;
  background-color: rgb(255, 255, 255);
  border-radius: 1rcap;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border-bottom: 1px solid rgb(224, 221, 221);
  padding: 8px;
  font-size: 12px;
  text-align: left;
}

th {
  text-align: left;
  color: #0b0b0b;
  font-weight: 400;
}

.table-row {
  height: 70px;
}

.pagination {
  margin-top: 20px;
  font-size: 10px;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.pagination button,
.pagination select {
  margin-left: 10px;
  font-size: 10px;
}
.rows-per-page {
  margin-right: 17px;
}

.active {
  background-color: green;
  color: white;
  border: none;
  padding: 6px 12px;
  width: 70px;
  border-radius: 4px;
  cursor: pointer;
}

.pending {
  background-color: rgb(172, 172, 171);
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  width: 70px;
}

.action {
  cursor: pointer;
}
.custom-modal .ant-modal-content {
  width: 142px;
}

.custom-modal {
  display: block;
  margin-bottom: 10px;
  text-decoration: none;
  color: black;
}
.action-link {
  color: black;
  margin-bottom: 50px;
}
.action-link .a {
  margin-bottom: 100px;
}
